* {
box-sizing: border-box;
}

body {
  color: $color-black;
  font-family: $font-family-base;
  size: $font-size-base;
  line-height: $line-height-base;
}

input, button, textarea {
  outline: none;
}

b,
strong {
  font-weight: $font-weight-bold;
}

a,
button,
input[type='button'] {
  cursor: pointer;
}

input[type='radio'] {
  margin: 0 10px 0 0;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: $m-sm;
  padding: $m-xs 5px;
}

button {
  padding: $m-sm;
  border: none;
  color: $color-white;
  background-color: $color-green;
}
