@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'), url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/fontawesome-webfont.woff') format('woff');
  font-weight: $font-weight-regular;
  font-style: normal;
}
